@charset "UTF-8";

/*Fonts*/
body {
	font-family: 'Lato', sans-serif;		
	background-color: beige;
}
header {
	text-align: center
}
.center{
	text-align: center;
}
table, tr, td, th {
	border-collapse: collapse;
	border: 2px solid black;
	padding: 5px;
	width: 500px
}
@media (min-width : 400px ) and ( max-width : 896px ){
	header {
		text-align: center;
	}
}
