@charset "UTF-8";

header {
	text-align: center;
}
.center {
	text-align: center;
}
body {
	font-family: Arial;
	background-color: beige;
}
.inline-images {
	display: inline-block;
}
.margin-2em {
	margin-left: 2em;
	display: inline-block;
}
table, tr, td, th {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
}