@charset "UTF-8";

/*Fonts*/
body {
	font-family: 'Lato', sans-serif;
}
header {
	text-align: center
}
.center{
	text-align: center;
}
@media (min-width: 640px) and (max-width: 896px){
	header {
		text-align: center;
	}
}


