@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.wrapper {
	max-width: 100%;
}

body {
	font-family: Lato, sans-serif;
	padding: 10px;
	background: lightblue;
}
img {
	max-width: 100%;
	
}
/* Mobile styles */
@media (max-width: 768px) {
	header {
		text-align: center;
	}
	.profile {
		text-align: center;
	}
	.profile img {
		border-radius: 100%;
	}
	.aboutme {
		text-indent: 2rem;
	}
	.mainbody > h2 {
		text-align: center;
	}
	table, tr, th, td {
		border: 2px solid black;
		border-collapse: collapse;
		padding: 20px;
	}
	th {
		width: 100px;
	}
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
	.profile {
		float: right;
	}
	.wrapper {
		max-width: 100%;
		clear: both;
	}
	
	
}

/* Desktop styles */
@media (min-width: 1025px) {
	/* Your desktop styles go here */
}

