@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
	font-family: 'Lato', sans-serif;
}
header {
	text-align: center;
}

.aboutme {
	margin-right: 1in;
	display: block;
<<<<<<< HEAD
=======
}
.stacy > span {
    display: block;
    margin: 1em 0 1em 0;
    font-size: 1.17em;
	font-weight: bold;
	
>>>>>>> cf8f4feefe1ee1d0cafc165853a697d1491c3433
}